body{
    font-family: "Shippori Mincho",'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #f0f0f0;
}
header>a{
    display: inline-block;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
