body{
    font-family: "Shippori Mincho",'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #eee;
}
header>a{
    display: inline-block;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border-left: 1px solid #8a7355;
}
header>a:last-child{
    border-right: 1px solid #8a7355;
}
