header{
    display: inline-block;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #eee;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header > nav > a{
    display: inline-block;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border-left: 1px solid #8a7355;
}
header > nav > a:last-child{
    border-right: 1px solid #8a7355;
}
