table {
    text-align: center;
    width: 90%;
    margin: 0 auto 40px 5%;
    padding: 20px;
    max-width: 700px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 10px solid #8a7355;
    border-bottom: 7px solid #A18F76;
}
@media (min-width: 701px) {
    table {
        margin-left: calc(50% - 350px);
        font-size: 16px;
    }
}

#history th {
    text-align: right;
    color: #000;
    margin: 40px 0px 0px 30px;
    padding: 10px 0;
    width: 85px;
    font-weight: 400;
}

#history td {
    text-align: midele;
    color: #000;
    margin: 40px 0px 0px 30px;
    padding: 10px 0;
}

.ancher {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: #8a7355 1px dashed;
    border-radius: 3px;
    padding: 3px;
    margin: 3px;

    transition:
        color 0.3s ease,
        background-color 0.3s ease;
}

.ancher:hover {
    color: #fff;
    background-color: #8a7355;
}